.rta{
    background-color: rgb(61, 61, 61);
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
}
@font-face {
    font-family: titulos;
    src: url(/fuentes/fuente\ LF.ttf);
}
.titulos{
    font-size: 20px;
    font-family: titulos;
    color: rgb(191, 191, 191);

}
h1,h2{
    text-align: center;
}
p, ul{
    font-size: 12;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(163, 163, 163);
}
.contenido{
    margin-left: 10%;
    margin-right: 10%;
}

body{
    background-color: rgb(120, 120, 120);
}
.cabezera{
    text-align: center;
    font-size: 50px;
    color: rgb(191, 191, 191);
}